#autoplay img { max-width: 100%; }
#autoplay { position: relative;  max-width: 85%; margin: 0 auto;}
#autoplay .slick-slide { text-align: center; margin: 10px  }
h4 {margin-top: 2px; }

.slick-slide {
  img {
    &:hover {
      & + h4 { opacity: 1; }
    }
  }
  h4 {
    opacity: 0; 
    -webkit-transition: all 150ms ease-in-out; 
    transition: all 150ms ease-in-out; 
  }
}
.slick-prev,
.slick-next
{
    line-height: 0;
    font-size: 0;
    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;

    cursor: pointer;
    background: transparent; 
    color: transparent;
    border: none;
    outline: none;
}

.slick-next {
  right: -25px; 
}

.slick-prev {
  left: -25px; 
}

.slick-next:after {  
  content: "\f054";
  color: red;
  font-size: 30px;
  font-family: FontAwesome; 
}

.slick-prev:after {
 content: "\f053";
  font-size: 30px;
  font-family: FontAwesome; 
  color: red;  
}